<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playstation Action Chatroom</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <link rel='stylesheet' href='/styles.css'/>
</head>
<body>

        <div id = "chatbox">
            <div id="chat-window">
                <div id="output"></div>
                <div id="feedback"></div>
            </div>
            <input id="handle" type="text" placeholder="Handle" />
            <input id="message" type="text" placeholder="Message" />
            <button id="send">Send</button>

        </div>

    <script src="/psactionchat.js"></script>
    <script>
    socket.on("connect", function(){
            var psaRoom = "nRoom";
            socket.emit('psaRoom', psaRoom);
            
        });
        // PSAction
        var psaBtn = document.getElementById("psaBtn");
        var psaTxt = document.getElementById("psaTxt");
        var nMessages = document.getElementById("psaMessages");
        
        psaBtn.addEventListener("click", function(){
            socket.emit("node new message", psaTxt.value);
        });
        socket.on("node news", function(data){
            psaMessages.innerHTML = psaMessages.innerHTML + "<br>" + data;
        });
        socket.on("node new user", function(data){
            psaMessages.innerHTML = psaMessages.innerHTML + "<br>" + data;
        });

    </script>
</body>
</html>