<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href=css/style.css" rel="stylesheet">
    </head>
    <body>
    <p> Create an Account or login</p>
    <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
    <a href="/users/login" class="btn btn-primary btn-block mb-2">Login</a>
    </body>
</html>